a#about{
    text-decoration: #4A99E9 underline 4px;
    font-weight: bold;
}
div.post{
    background-color: #2E363F;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}

img{
    width: 300px;
    border-radius: 125000px;
}
td p.blue{
    color: #4A99E9;
    float: right;
}
p{
    color: white;
}
table,tr,td{
    /* border: 1px solid white; */
    margin: auto;
}
td{
    padding: 5px;
    width: 300px;
}
a.white{
    color: white;
}
a.white:hover{
    color: #4A99E9;
    background-color: #17202A;

}
div.contact a{
    margin-left: 10px;
    text-decoration: none;
}
div.contact{
    margin: 10px;
}
i{
    vertical-align: middle;
}
h3{
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: larger;
    margin-left: 10px;
    color: #4A99E9;
    text-decoration: underline 2px;
}
h1,.h3{
    color: white;
    text-decoration: none;
}
p.p{
    margin-left: 1%;
    color: azure;
    opacity: 90%;
    margin-bottom: 15px;
}
span a{
    color: #4A99E9;
}
